extends layout

block content

  .container
    .row
      h1 VSEC Progress Bar
      br
      .col-md-3
        .progress-bars
          h2 85%
        // progress-bars
      .col-md-3
        .progress-bars-four
          h2 40%
        // progress-bars
      .col-md-3
        .progress-bars-six
          h2 65%
        // progress-bars
      .col-md-3
        .progress-bars-seven
          h2 70%
        // progress-bars
