extends layout

block content

  .container
    .row
    <a href="http://heartsofgoldfoundation.org/" title="Hearts of Gold Foundation" class="logo" style="height: 110px;">
    <img class="logo_retina" src="http://heartsofgoldfoundation.org/wp-content/uploads/HOG-logo-long-1.png" alt="Hearts of Gold Foundation" width="400" height="100">
    </a>
      br
      .col-md-3
        .progress-bars
          h2 85%
      .col-md-3
        .progress-bars-four
          h2 40%
      .col-md-3
        .progress-bars-six
          h2 65%
      .col-md-3
        .progress-bars-seven
          h2 70%
